In [19]:
import pandas as pd
import numpy as np

df = pd.read_excel(r"C:\Users\alexa\OneDrive\Documents\OneDrive\Python\Python_Projects\Alloc_App\import_data.xlsx", sheet_name='cap_activity')

df

,fund_name,sub_group_1,sub_group_2,investor_name,classification,break_period,amount
0,ABC_Capital LLC,NaN,NaN,investor_1,contribution,2024-01-01,1250
1,ABC_Capital LLC,NaN,NaN,investor_2,contribution,2024-01-01,600
2,ABC_Capital LLC,NaN,NaN,investor_3,contribution,2024-01-01,50000
3,ABC_Capital LLC,NaN,NaN,investor_3,redemption,2024-12-31,3000

In [20]:

df_alloc_contrib = (df.assign(fund_name=df['fund_name'].fillna('').astype('category'),
                        sub_group_1=df['sub_group_1'].fillna('').astype('category'),
                        sub_group_2=df['sub_group_2'].fillna('').astype('category'),
                        investor_name=df['investor_name'].fillna('').astype('category'),
                        amount=df['amount'].astype(float).fillna(0),
                        break_period=pd.to_datetime(df['break_period']).dt.strftime("%m/%d/%Y"),
                        classification=df['classification'].fillna('').astype('category')
                        )
                .pivot_table(index=['fund_name', 'investor_name', 'sub_group_1', 'sub_group_2', 'classification'],
                            columns='break_period', values='amount', aggfunc='sum', fill_value=0)
                .query('classification == "contribution"')
                .reset_index()
                )

df_alloc_contrib

C:\Users\alexa\AppData\Local\Temp\ipykernel_3508\2507258173.py:9: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  .pivot_table(index=['fund_name', 'investor_name', 'sub_group_1', 'sub_group_2', 'classification'],

break_period,fund_name,investor_name,sub_group_1,sub_group_2,classification,01/01/2024,12/31/2024
0,ABC_Capital LLC,investor_1,,,contribution,1250.0,0.0
1,ABC_Capital LLC,investor_2,,,contribution,600.0,0.0
2,ABC_Capital LLC,investor_3,,,contribution,50000.0,0.0